# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FMSWindows.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\VisualStudio\C#\FMSWindows\.idea\.idea.FMSWindows\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
